

$main-color: #e8e8e8;
$main-color-02: #F8F5F0;
//$light-green-color: #0F9D58;
//#0c5b47
$green-color: #018848;
$light-green-color: #e7f0e4;
$white-color: #fff;
$dark-white-color: #fafafa;
$text-color: #000000;
$light-text-color: rgba(0, 0, 0, .6);
$green-text-color: #10634e;
$red-color: #e24a2b;
